/*===========================================================
                    Site Wide Styles
===========================================================*/
html,
body {
  background-color: #ffffff;
  font-size: 16px;
  height: 100%;
  margin: 0;
  max-width: 100%;
  position: relative;
  padding: 0;
}
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
section {
  margin: 20px 0;
}
/*===========================================================
                    Typograhpy Styles
===========================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  margin: 10px auto;
}
p,
a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.light-text {
  color: #8c8c8c;
}
/*===========================================================
        main-header Styles (Will only display on mobile)
===========================================================*/
header.main-header {
  display: none;
}
header.main-header #sidebarCollapse {
  border: 2px solid rgba(52, 73, 94, 0.5);
  border-radius: 5px;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 3rem;
}
header.main-header #sidebarCollapse:focus,
header.main-header #sidebarCollapse:active {
  outline: none !important;
  box-shadow: none;
}
/*===========================================================
                    Sidebar Navigation Styles
===========================================================*/
.sidebar {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  color: #808080;
  height: 100vh;
  left: 0;
  position: fixed;
  transition: all 0.5s;
  top: 0;
  width: 20%;
  z-index: 999;
}
.sidebar header.sidebar-header {
  background-color: #ffffff;
  padding: 20px 10px;
}
.sidebar header.sidebar-header img {
  display: block;
  height: 125px;
  margin: 5px auto;
  width: auto;
}
.sidebar header.sidebar-header .sidebar-title {
  margin: 5px auto 2.5px auto;
  text-align: center;
}
.sidebar ul {
  list-style-type: none;
  padding: 20px 0;
}
.sidebar ul > li > a {
  color: #000000;
  display: block;
  font-size: 1.3rem;
  padding: 10px;
  -webkit-transition: background-color 0.5s color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
.sidebar ul > li > a:hover,
.sidebar ul > li > a:focus,
.sidebar ul > li > a.active {
  background-color: #f9f9f9;
  color: #0097e2;
  text-decoration: none;
}
